/* GENERAL CLASSES --------------------------------- GENERAL CLASSES */

// POSITION
.row
  display: flex
  justify-content: space-between

.row-centered
  justify-content: space-around

.row-vCentered
  align-items: center


.cols
  display: flex
  justify-content: space-between
  
.cols-centered
  justify-content: space-around

.sticky
  position: sticky

// TEXT
.uppercase
  text-transform: uppercase
