// ----------------------------------------- flexCenter
=flexCenter
  display: flex
  justify-content: center
  align-items: center


// -------------------------------------------------- size
=size($a)
  width: $a
  height: $a
