
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>{% block title %}Add title{% endblock %}</title>

  <meta name="description" content="{{metadata.description}}">
  <meta name="keywords" content="{{metadata.keywords}}">
  <meta name="author" content="{{metadata.author}}">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block styles %}
  <!-- build:css /css/main.min.css -->
  <link rel="stylesheet" href="/css/main.css">
  <!-- /build -->
  {% endblock %}

</head>

<body>

  <div class="{% block page %}{# add_page_class #}{% endblock %} midnight-mode layout-app">

    <div class="highlight-bar"></div>

    <header class="row row-vCentered">

      <!-- HEADER LOGO -->
      <div class="logo">
        <a href="/"><img src="/img/logo/c_core.svg" alt="Core.io" title="Core.io"/></a>
      </div><!-- END HEADER LOGO -->

      <!-- Header Navigation Bar -->
      <nav id="main-nav" class="nav-bar-1">
        {%- for item in metadata.main_menu.items  %}
        <div class="menu-item">
          <a href="{{item.link}}">{{item.txt}}</a>
        </div>
        {%- endfor %}
      </nav><!-- END Header Navigation Bar -->

    </header><!-- END SECTION HEADER -->

    <div class="{% block content_class %}{# add_content_class #}{% endblock %} content">
      {% block content %}{% endblock %}
    </div><!-- END CONTENT -->

    <footer>
      <div class="cols cols-centered">

        <div class="col-3">
          <div class="footer-logo">
            <a href="/"><img src="/img/logo/mosca.svg" title="Core.io" alt="Core.io"/></a>
          </div>

          <div class="footer-menu">
          {%- for item in metadata.main_menu.items  %}
            <a href="{{item.link}}">{{item.txt}}</a>
          {%- endfor %}
          </div>
        </div>

        <div class="col-3">
          <div class="footer-releases">
            <p>Latest Release: 0.2.8 (Jun 01, 2017)</p>
          </div>
        </div>

        <div class="col-3">
          <div class="footer-github">
            <a href="#" class="row row-vCentered">
              <img src="/img/icons/github-icon-2.png" alt="Core.io in Github" title="Github" />Github
            </a>
          </div>
        </div>
      </div>

      <div class="row row-centered copyright">
        <p>Copyright &#169; 2017 goliatone. The contents of this page are licensed MIT license.</p>
      </div>
    </footer>
  </div><!-- END docs midnight-mode layout-app -->

  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.1.1.min.js"><\/script>')</script>
  <!-- build:js /js/main.min.js -->
  <script src="/js/main.js"></script>
  <!-- /build -->
  {% endblock %}
</body>

</html>
