/// Mixin to color a button with an optional 5px 5px 5px box shadow.
///
/// Markup has the following structure:
///
/// ```
///   <button class="btn-black">...</button>
///   <a class="btn-black">...</a>
///   <div class="btn-black">...<div>
/// ```
///
/// <style>
///   .btn-black {
///     color: #f8f8f8;
///     background-color: #2c2c31;
///     border-color: #f8f8f8;
///     box-shadow: #212121;
///   }
/// </style>
///
/// <button class="btn-big btn-black">Button</button>
///
///
/// @group Buttons
/// @author Tatiana Burgos
///
///
/// @param {Color} $color_1 [black] - Button's text and border color.
/// @param {Color} $color_2 [white] - Button's background color.
/// @param {Color} $color_3 [false] - Button's shadow color.
///
/// @output css for `.btn-black`
/// ```
/// .btn-black {
///   color: #f8f8f8;
///   background-color: #2c2c31;
///   border-color: #f8f8f8;
///   box-shadow: #212121;
/// }
/// ```
/// @example sass - Creating `.button`
/// .btn-black
///   +button_color(#f8f8f8, #2c2c31, #212121)
///

=button_color($color_1:black, $color_2:white, $color_3:false)
  color: $color_1
  background-color: $color_2
  border-color: $color_1
  @if $color_3
    box-shadow: 5px 5px 5px $color_3
