/// Mixin to draw a button with given width and height.
///
/// Markup has the following structure:
///
/// ```
///   <button class="btn-big">...</button>
///   <a class="btn-big">...</a>
///   <div class="btn-big">...<div>
/// ```
///
///
/// <style>
///   .btn-big {
///     display: inline-block;
///     width: 200px;
///     height: 53px;
///     line-height: 51px;
///     border: 1px solid black;
///     border-radius: 3px;
///     text-align: center;
///   }
///   .button:hover {
///     cursor: pointer; }
///   }
/// </style>
///
/// <button class="btn-big btn-black">Button</button>
///
///
/// @group Buttons
/// @author Tatiana Burgos
///
///
/// @param {Length} $w [200px] - Button's width.
/// @param {Length} $h [50px] - Button's height.
/// @param {Length} $border_w [1px] - Button's border width.
/// @param {Length} $border_r [false] - Button's border radius.
///
/// @output css for `.btn-big`
/// ```
///   .btn-big {
///     display: inline-block;
///     width: 200px;
///     height: 53px;
///     line-height: 51px;
///     border: 1px solid black;
///     border-radius: 3px;
///     text-align: center;
///   }
///   .button:hover {
///     cursor: pointer; }
///   }
/// ```
/// @example sass - Creating `.button`
/// .button
///   +button_draw(200px, 53px, 1px, 3px)
///

=button_draw($w: 200px, $h: 50px, $border_w: 1px, $r: false)
  display: inline-block
  width: $w
  height: $h
  line-height: $h - 2*$border_w
  border: $border_w solid black
  @if $r
    border-radius: $r
  text-align: center
  &:hover
    cursor: pointer
