/// Mixin to add a fading switch of colors to a button on hover.
/// Background and border same color.
///
/// Markup has the following structure:
///
/// ```
///   <button class="fade-2">...</button>
///   <a class="fade-2">...</a>
///   <div class="fade-2">...<div>
/// ```
///
/// <style>
///   .fade-2 {
///     transition: all .3s ease;
///   }
///   .fade-2:hover {
///     color: #2c2c31;
///     background-color: gray;
///   }
/// </style>
///
/// <button class="btn-big btn-black fade-2">Button</button>
///
///
/// @group Buttons
/// @author Tatiana Burgos
///
///
/// @param {Color} $color_1 [white] - Button's border color on hover.
/// @param {Color} $color_2 [black] - Button's background and text color on hover.
///
/// @output css for `.fade-2`
/// ```
/// .fade-2 {
///   transition: all .3s ease;
/// }
/// .fade-2:hover {
///   color: #2c2c31;
///   background-color: #f8f8f8;
/// }
/// ```
/// @example sass - Creating `.fade`
/// .fade-2
///   +button_fade(#2c2c31, #f8f8f8)
///

=button_fade-2($color_1:white, $color_2:black)
  transition: all .3s ease
  &:hover
    color: $color_1
    background-color: $color_2
    border-color: $color_2
