
/* ---------------------------------------------------- HR */
hr
  width: 100%
  height: 0
  border: none
  border-top: 1px solid white

  &.hr-small
    width: 53px
    border-width: 3px

  &.hr-medium
    width: 50%


/* ---------------------------------------------- DECO-BAR */
.highlight-bar
  width: $DECO_BAR_W * 2
  height: $DECO_BAR_H


/* -------------------------------------------------- LOGO */
header .logo
  width: 200px


/* ---------------------------------------------- NAV-BARS */
/* --------------------------------- NAV-BAR-1 */
/* HEADER NAV BAR */
$border_padding_sides: 17px
$border_w: 2px

.nav-bar-1
  position: relative
  top: -4px
  display: flex
  .menu-item
    margin-left: 2px
    a
      padding: 7px $border_padding_sides
    > a:hover, > a.selected
      border-top: $border_w solid white
    &:last-child
      margin-right: -$border_padding_sides

.features #main-nav a[href="/"],
.features #main-nav a[href*="index"],
.quickstart #main-nav a[href*="quickstart"],
.docs #main-nav a[href*="documentation"],
.modules #main-nav a[href*="modules"]
  border-top: $border_w solid white

/* --------------------------------- NAV-BAR-2 */
/* DOCUMENTATION NAV BAR */
$border_w: 2px

.nav-bar-2
  display: flex
  .menu-item
    margin-right: 10px
    a
      padding: 13px
      &:hover, &.selected
        border-bottom: $border_w solid white

.docs .guide #docs-nav a[href*="guide"],
.docs .api #docs-nav a[href*="api"],
.docs .examples #docs-nav a[href*="examples"]
  border-bottom: $border_w solid white


/* -------------------------------------------- SEARCH BARS */

/* ------------------------------- SEARCH-BAR-1 */
$width: 100%
$height: 78px
$padding: 60px
$border_w: 1px
$border_r: 3px

.search-bar-1
  +search_bar_draw-3($width, $height, $padding, $border_w, $border_r)



/* -------------------------------------------- PAGINATION */
$height: 44px
$border_width: 2px
$border_r: 5px
$num_width: 47px

.pagination
  margin: 85px 0 20px
  +pagination_draw($height, $border_r, $num_width)
  .prev,
  .next
    width: 78px
  .prev:before,
  .next:after
    content: ''
    width: 7.5px
    height: 7.5px
    border: 1px solid $PAGINATION_C
    border-top: none
    border-right: none
  .prev:before
    margin-right: 5px
    transform: rotate(45deg)
  .next:after
    margin-left: 5px
    transform: rotate(225deg)


/* --------------------------------------- LINK PAGINATION */
.link-pagination
  margin-top: 111px


/* ----------------------------------------------- BUTTONS */
/* --------------------------------- BIG BUTTON */

.big-btn
  $w: 200px
  $h: 53px
  $border_w: 1px
  $r: 3px

  +button_draw($w, $h, $border_w, $r)


/* ------------------------------ MEDIUM BUTTON */
.medium-btn
  $w: 155px
  $h: 44px
  $border_w: 2px
  $r: 5px

  +button_draw($w, $h, $border_w, $r)


/* ---------------------------- DOWNLOAD BUTTON */
.button.download
  span
    position: relative
    padding-left: 14px
    top: 3px
    &:before
      content: ""
      background: url("../img/icons/white-github-512.png")
      background-size: cover
      +size(26px)
      display: inline-block
      position: relative
      top: 8px
      left: -22px
  &:hover
    span:before
      background: url("../img/icons/black-github-512.png")
      background-size: cover


/* ------------------------------------------------ LABELS */
$width: 47px
$height: 20px
$border_r: 3px

.label
  margin-right: 13px
  min-width: 47px
  height: $height
  border: 1px solid black
  border-radius: 3px
  padding: 0 7px
  line-height: $height
  text-align: center


/* -------------------------------------------- CODE-BLOCK */
$w: $WINDOW_CONTROLS_W

.code-block
  padding: $CODE_BLOCK_PADDING
  border-radius: 4px
  .header
    padding-bottom: $HEADER_PADDING
    position: relative
    .window-controls
      +window_controls($w: $w)
      position: absolute
      top: 3px
      left: 0
  .title
    width: 100%
    display: inline-block
    text-align: center
  code, pre
    display: block
    margin-bottom: $CODE_MARGIN
    &.tab-1
      padding-left: $TAB_1_PADDING
      margin-top: $TAB_1_MARGIN - $CODE_MARGIN
    &.code-tight
      margin-bottom: 0

.code-block-2
  padding: 22px 25px


/* --------------------------------------------- CODE-LINE */
.code-line
  height: 60px
  padding: 25px
  display: flex
  align-items: center
  border-radius: 4px


/* ------------------------------------------- INLINE CODE */
p, li
  code
    padding: 0 4px 2px 4px
    border-radius: 2px
