/* -------------------------------------------------------- ELEMENTS */

/* ---------------------------------------------------- HR */
hr
  width: 100%
  height: 0

  &.hr-small
    width: 53px
    border-width: 3px

  &.hr-medium
    width: 50%


/* ---------------------------------------------- DECO-BAR */
.highlight-bar
  width: $DECO_BAR_W * 2
  height: 4px


/* ---------------------------------------------- NAV-BARS */
/* --------------------------------- NAV-BAR-1 */
/* HEADER NAV BAR */
$border_padding_sides: 17px

.nav-bar-1 ul
  position: relative
  top: -4px
  display: flex
  .menu-item
    margin-left: 2px
    a
      padding: 7px $border_padding_sides
    &:last-child
      margin-right: -$border_padding_sides

/* --------------------------------- NAV-BAR-2 */
/* DOCUMENTATION NAV BAR */
.nav-bar-2 ul
  display: flex
  .menu-item
    margin-right: 10px
    a
      padding: 13px


/* --------------------------------------------- SEARCH BAR */
$height: 78px
$padding: 60px

$padding_placeholder: 25px
$font_size: $height * 0.308

$icon_top: $padding + ($height - $font_size)/2
$icon_right: $padding + $padding_placeholder

.search-bar-1
  width: 100%
  padding: $padding
  font-size: $font_size
  position: relative
  input
    display: inline-block
    width: 100%
    height: $height
    border: 1px solid white
    border-radius: 3px
    padding-left: $padding_placeholder
    font-size: inherit
    font-family: inherit
    line-height: $height
  .icon
    position: absolute
    top: $icon_top
    right: $icon_right
    &:hover
      cursor: pointer


/* -------------------------------------------- PAGINATION */
$border_r: 5px

.pagination
  margin: 85px 0 20px
  height: 44px
  ul
    height: inherit
  li
    height: inherit
    min-width: 47px
    float: left
    a
      height: 100%
      +flexCenter
    &:first-child a
      border-top-left-radius: $border_r
      border-bottom-left-radius: $border_r
    &:last-child a
      border-top-right-radius: $border_r
      border-bottom-right-radius: $border_r
  .prev,
  .next
    width: 78px
  .prev:before,
  .next:after
    content: ''
    width: 7.5px
    height: 7.5px
  .prev:before
    margin-right: 5px
    transform: rotate(45deg)
  .next:after
    margin-left: 5px
    transform: rotate(225deg)


/* --------------------------------------- LINK PAGINATION */
.link-pagination
  margin-top: 111px


/* ----------------------------------------------- BUTTONS */
/* --------------------------------- BIG BUTTON */
.big-btn
  $w: 200px
  $h: 53px
  $border_w: 1px
  $r: 3px

  +button_draw($w, $h, $border_w, $r)


/* ------------------------------ MEDIUM BUTTON */
.medium-btn
  $w: 155px
  $h: 44px
  $border_w: 2px
  $r: 5px

  +button_draw($w, $h, $border_w, $r)


/* ---------------------------- DOWNLOAD BUTTON */
.button.download
  span
    position: relative
    padding-left: 14px
    top: 3px
    &:before
      content: ""
      background: url("../img/icons/white-github-512.png")
      background-size: cover
      +size(26px)
      display: inline-block
      position: relative
      top: 8px
      left: -22px
  &:hover
    span:before
      background: url("../img/icons/black-github-512.png")
      background-size: cover


/* ------------------------------------------------ LABELS */
$height: 20px

.label
  display: inline-block
  min-width: 47px
  height: $height
  margin-right: 13px
  padding: 0 7px
  line-height: $height
  border-radius: 3px
  text-align: center


/* -------------------------------------------- CODE-BLOCK */
$pre_margin_bottom: 19px

.code-block
  padding: 9px 20px
  border-radius: 4px
  .header
    padding-bottom: 39px
    position: relative
    .window-controls
      +window_controls($w: 13px)
      position: absolute
      top: 3px
      left: 0
  .title
    width: 100%
    display: inline-block
    text-align: center
  code, pre
    display: block
    margin-bottom: $pre_margin_bottom
    &.tab-1
      padding-left: 45px
      margin-top: 9px - $pre_margin_bottom
    &.code-tight
      margin-bottom: 0

.code-block-2
  padding: 22px 25px


/* --------------------------------------------- CODE-LINE */
.code-line
  height: 60px
  padding: 25px
  display: flex
  align-items: center
  border-radius: 4px


/* ------------------------------------------- INLINE CODE */
p, li
  code
    padding: 0 4px 2px 4px
    border-radius: 2px
