/// Mixin to color a label.
///
/// Use `+label_draw` to draw the label.
///
/// Markup has the following structure:
///
/// ```
///   <div class="label higlight">Lable</a><div>
///   <span class="label highlight">Label</span>
/// ```
///
///
/// <style>
///   .label.highlight {
///     color: #2C2E31;
///     border-color: #00d8d8;
///     background-color: #00d8d8;
///   }
/// </style>
///
/// <div class="label highlight">Label</div>
///
///
/// @group Labels
/// @author Tatiana Burgos
///
///
/// @param {Color} $bg [black] - Label's background and border color.
/// @param {Color} $color [false] - Label's text color, optional.
///
/// @output css for `.label.highlight`
/// ```
///   .label.highlight {
///     color: #2C2E31;
///     border-color: #00d8d8;
///     background-color: #00d8d8;
///   }
/// ```
/// @example sass - Creating `.label.highlight`
///   .label.highlight
///     +label_color(#00d8d8, #2C2E31)
///

=label_color($bg: black, $color: false)
  @if $color
    color: $color
  border: 1px solid $bg
  background-color: $bg
