/// Mixin to color a label.
///
/// Use `+label_draw` to draw the label.
///
/// Markup has the following structure:
///
/// ```
///   <div class="label higlight">Lable</a><div>
///   <span class="label highlight">Label</span>
/// ```
///
///
/// <style>
///   .label.highlight {
///     color: #2C2E31;
///     border-color: #00d8d8;
///     background-color: #00d8d8;
///   }
/// </style>
///
/// <div class="label highlight">Label</div>
///
///
/// @group Labels
/// @author Tatiana Burgos
///
///
/// @param {Color} $color [white] - Label's text color.
/// @param {Color} $bg_1 [black] - Label's background color.
///
/// @output css for `.label.highlight`
/// ```
///   .label.highlight {
///     color: #2C2E31;
///     border-color: #00d8d8;
///     background-color: #00d8d8;
///   }
/// ```
/// @example sass - Creating `.label.highlight`
///   .label.highlight
///     +label_color(#2C2E31, #00d8d8)
///

=label_color($color: white, $bg: black)
  color: $color
  border-color: $bg
  background-color: $bg
