/* DOCUMENTATION PAGE -------------------------------------------- */
.docs
  .content
    margin-top: -4px
    > .cols
      justify-content: initial
      margin-top: 56px
  .hr-light
    margin-top: 13.9px
    z-index: 1
  .nav-bar-2 .menu-item
    z-index: 2
  .side-menu
    width: 255px
    margin-top: 8px
    padding-left: 1px
    a
      display: inline-block
    .menu-item, li
      margin-bottom: 31px
    .submenu, ul ul
      margin: 15px 0 0 18px
    .menu-item-submenu, ul ul li
      margin-bottom: 10px
  .main-txt
    width: 730px
    .title, h1, h2
      margin-bottom: 14px
      &:first-child
        margin-top: 0
    h3, h4, h5, h6
      margin-bottom: 10px
    h1, h2, h3, h4, h5, h6
      margin-top: 54px
    .description, p
      max-width: 623px
    p
      margin-bottom: 24px
    .code-block
      width: 714px
      margin-top: 56px
      code
        padding: 0px 14px
        margin-top: 0
    pre
      width: 714px
      margin-bottom: 24px
      code
        padding: 34px
        border-radius: 4px
    ul, ol
      margin-bottom: 24px
    ul li:before
      content: "*"
      margin: 0 10px 0 14px
      position: relative
      top: 5px
    ol li
      list-style: decimal
      margin-left: 34px
      > *
        margin-left: 7px

  .sticky.nav
    top: 0
    padding-top: 20px
    padding-bottom: 20px
    z-index: 2

  .sticky.side-menu
    top: 140px
    z-index: 1
