/* DOCUMENTATION PAGE -------------------------------------------- */
.docs
  .content
    margin-top: 56px
    .cols
      justify-content: initial
  .hr-light
    margin: 14px 0 75px
  .side-menu
    width: 255px
    a
      display: inline-block
    .menu-item
      margin-top: 31px
      &:first-child
        margin-top: 2px
    .submenu
      margin: 15px 0 0 18px
    .menu-item-submenu
      margin-bottom: 10px
  .main-txt
    width: 730px
    .title
      margin-bottom: 14px
    .description
      width: 623px
      p 
        padding-bottom: 24px

  .code-block
    width: 714px

