/* --------------------------------------------------- FEATURES PAGE */
.features
  section
    margin-bottom: 50px
    &:first-child
      padding-top: 68px
  hr
    margin: 26px 0 28px 4px
  .paragraph-1
    padding-left: $LAYOUT_PADDING_SIDES
    padding-right: 93px
    padding-bottom: 10px
    hr
      margin-top: 13px
      margin-bottom: 25px
    .subheader
      margin-bottom: 32px
    .side-img
      width: 361px
    .side-svg
      text-align: center
      padding-left: 11px
      img
        margin: 29px 0 0 27px
    .button
      margin-right: 22px
      margin-bottom: 52px
      display: inline-block
    .p-smallest
      margin-left: 7px
  .hero-img
    width: 1064px
    height: 577px
    margin: -20px 66px 30px 94px
  .paragraph-2
    padding-left: 80px
    padding-right: 115px
    margin-top: 322px
    .cols > div:last-child
      margin-right: 3px
    .code-block
      min-width: 466px
      min-height: 331px
      margin-left: 11px
    h2
      margin-top: -7px

  .paragraph-3
    padding-left: 116px
    padding-right: 225px
    margin: 367px 0 350px -2px
    hr
      margin: 23px 0 30px 2px
    .subheader
      margin-bottom: 36px
