/* FEATURES PAGE ------------------------------------------------- */

.features
  section
    margin-bottom: 50px
    &:first-child
      padding-top: 140px
  hr
    margin-top: 21px
    margin-bottom: 14px
  .paragraph-1
    padding-left: $LAYOUT_PADDING_SIDES
    padding-right: 93px
    padding-bottom: 10px
    .subheader
      margin-bottom: 60px
    .side-img
      width: 336px
      height: 322px
    .side-svg
      text-align: center
    .button
      margin-right: 56px
      margin-bottom: 50px
      display: inline-block
  .hero-img
    width: 1064px
    height: 577px
    margin: -20px 66px 30px 94px
  .paragraph-2
    padding-left: 80px
    padding-right: 115px
    margin-top: 317px
    .code-block
      min-width: 466px
      min-height: 331px
      position: relative
      margin-right: 50px

  .paragraph-3
    justify-content: space-evenly
    padding-left: 132px
    padding-right: 115px
    margin: 366px 0
    .subheader
      margin-bottom: 45px
    .button
      margin-right: 0
    .col-2:first-child
      width: 73%
      padding-left: 90px
    .side-img
      margin-top: -43px




  
  