/* MODULES PAGE -------------------------------------------------- */
.posts
  margin-top: 70px
.post 
  width: 100%
  height: 204px
  padding: 32px 90px 27px 61px
  flex-direction: column
  .title
    position: relative
    left: -1px
  .tag
    position: relative
    right: 3px
    top: 2px
  .description
    margin-top: 9px
    width: 655px
  p
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical
    max-height: 52px