/* MODULES PAGE -------------------------------------------------- */
.posts
  margin-top: 70px
.post 
  width: 100%
  min-height: 204px
  padding: 32px 90px 27px 61px
  flex-direction: column
  .title
    position: relative
    left: -1px
  .tag
    position: relative
    right: 3px
    top: 2px
  .description
    margin: 9px 0 24px
    width: 655px
