{{#wrapped}}
  {{#isLink}}
  <div class="button{{#class}} {{.}}{{/class}}">
    <a href="{{href}}">{{txt}}</a>
  </div>
  {{/isLink}}
  {{^isLink}}
  <div class="button{{#class}} {{.}}{{/class}}">
    <button>
      <span>{{txt}}</span>
    </button>
  </div>
  {{/isLink}}
{{/wrapped}}

{{^wrapped}}
  {{#isLink}}
  <a href="{{href}}" class="button{{#class}} {{.}}{{/class}}">{{txt}}</a>
  {{/isLink}}
  {{^isLink}}
  <button class="button{{#class}} {{.}}{{/class}}">
    <span>{{txt}}</span>
  </button>
  {{/isLink}}
{{/wrapped}}
