        <div class="code-wrapper">
          <div class="code-block {{type}}{{#class}} {{.}}{{/class}}">
          {{#header}}
          <div class="header">
            {{> _window_controls}}
            <span class="title">{{type}}</span>
          </div>
          {{/header}}
          {{#code}}
            <pre{{#class}} class="{{class}}"{{/class}}>{{{txt}}}</pre>
          {{/code}}
          </div>
        </div>
