    <div id="content" class="content relative">
     
      <h1 id="skins" class="h-big highlight">:Skins:</h1>
        {{> _styleguide-skins}}
      <hr/>


      <h1 id="colors" class="h-big highlight">:Colors:</h1>
         {{> _styleguide-colors}}
      <hr/>

      
      <h1 id="headers" class="h-big highlight">:Headers:</h1>
        {{> _styleguide-headers}}
      <hr/>
      

      <h1 id="text" class="h-big highlight">:Text (p):</h1>
        {{> _styleguide-text}}
      <hr/>
      

      <h1 id="hr" class="h-big highlight">:Separators (hr):</h1>
        {{> _styleguide-separators}}
      <hr/>
      

      <h1 id="buttons" class="h-big highlight">:Buttons:</h1>
        {{> _styleguide-buttons}}
      <hr/>


      <h1 id="labels" class="h-big highlight">:Labels:</h1>
        {{> _styleguide-labels}}
      <hr/>

    </div><!-- END CONTENT -->





