          <div class="feature-item">
          {{#icon}}
            <div class="icon grid-1">
              <img src="{{{src}}}" title="{{title}}" alt="{{alt}}"/>
            </div>
          {{/icon}}
          {{#title}}
            <div class="h-smallest uppercase grid-2"> 
              <h3>{{.}}</h3>
            </div>
          {{/title}}
          {{#description}}
            <div class="p-small grid-3">
              <p>{{.}}</p>
            </div>
          {{/description}}
          </div><!-- END FEATURE -->


