    <footer>
      <div class="cols cols-centered">
        
        <div class="col-3">
          <div class="footer-logo">
          {{#data_img}}{{#footer}}
            <a href="{{{link}}}"><img src="{{{src}}}" title="{{title}}" alt="{{alt}}"/></a>
          {{/footer}}{{/data_img}}
          </div>
          
          <div class="footer-menu">
          {{#data_header_menu}}
            {{#menu_items}}
            <a href="{{link}}">{{txt}}</a>
            {{/menu_items}}
          {{/data_header_menu}}
          </div>
        </div> 
        
        <div class="col-3">
          <div class="footer-releases">
          {{#releases}}
            <p>Latest Release: {{last.version}} ({{last.date}})</p>
          {{/releases}}
          </div>
        </div>
        
        <div class="col-3">
          <div class="footer-github">
          {{#data_img}}{{#github}}
            <a href="{{{link}}}" class="row">
              <img src="{{{src}}}" alt="{{alt}}" title="{{title}}" />{{title}}
            </a>
          {{/github}}{{/data_img}}
          </div>
        </div>
      </div>

      <div class="row row-centered copyright">
        <p>Copyright &#169; 2017 goliatone. The contents of this page are licensed MIT license.</p>
      </div>
    </footer>