    {{>_deco_bar}}

    <header class="row row-vCentered">
  
      {{>_logo}}

      {{#data_header_menu}}
        {{>_nav-bar}}
      {{/data_header_menu}}

    </header><!-- END SECTION HEADER -->
