    {{>_deco_bar}}

    <header class="header row">
  
      {{> _logo}}

      {{#data_styleguide_menu}}
        {{>_nav-bar}}
      {{/data_styleguide_menu}}

    </header><!-- END SECTION HEADER -->
