      <!-- HEADER LOGO -->
      <div class="logo">
      {{#data_img}}{{#logo_2}}
        <a href="{{{link}}}"><img src="{{{src}}}" alt="{{alt}}" title="{{title}}"/></a>
      {{/logo_2}}{{/data_img}}
      </div><!-- END HEADER LOGO -->
