      <!-- {{name}} -->
      <nav id="{{id}}" class="{{class}}">
      {{#menu_items}}
        <div class="menu-item">
          <a href="{{{link}}}">{{txt}}</a>
          {{#hasSubmenu}}
            <div class="submenu">
            {{#submenu}}
              <div class="menu-item-submenu">
                <a href="{{{link}}}">{{txt}}</a>
              </div>
            {{/submenu}}
            </div>
          {{/hasSubmenu}}
        </div>
      {{/menu_items}}
      </nav><!-- END {{name}} -->
