      <section id="pagination" class="pagination row row-centered">
        <ul>
          <li><a href="" class="prev">Prev</a>
          {{#pagination}}
          <li{{#className}} class="{{className}}"{{/className}}><a href="">{{page}}</a></li>
          {{/pagination}}
          <li><a href="" class="next">Next</a></li>
        </ul>
      </section><!-- END PAGINATION SECTION --> 

