        {{#h2}}
        <h2{{#class}} class="{{.}}"{{/class}}>{{{txt}}}</h2>
        {{/h2}}
        {{#subheader}}
        <div class="subheader{{#class}} {{.}}{{/class}}">
          <p>{{txt}}</p>
          <ul>
            {{#links}}
            <li><a href="{{{href}}}" title="{{title}}">{{txt}}</a></li>
            {{/links}}
          </ul>
        </div>
        {{/subheader}}
