      <section{{#class}} class="{{.}}"{{/class}}>
      {{#section_header}}
        <div class="col-2">
        {{ ! h1 elements ---------------------- }}
        {{#h1}}
          <h1{{#class}} class="{{.}}"{{/class}}>{{{txt}}}</h1>
          <hr class="hr-small"/>
        {{/h1}}
        {{ ! h2 elements ---------------------- }}
        {{#h2}}
          <h2{{#class}} class="{{.}}"{{/class}}>{{{txt}}}</h2>
          <hr class="hr-small"/>
        {{/h2}}
        {{ ! h5 elements ---------------------- }}
        {{#h5}}
          <h5{{#class}} class="{{.}}"{{/class}}>{{{txt}}}</h5>
        {{/h5}}
        {{ ! subheader elements -------------- }}
        {{#subheader}}
          <div class="subheader{{#class}} {{.}}{{/class}}">
            <p>{{{txt}}}</p>
          </div>
        {{/subheader}}
        {{ ! button elements ------------------ }}
        {{#buttons}}
          {{> _button}}
        {{/buttons}}
        {{ ! footnote elements ---------------- }}
        {{#footnote}}
          <div{{#class}} class="{{.}}"{{/class}}>
            <p>{{txt}}</p>
          </div>
        {{/footnote}}
        </div>
      {{/section_header}}
      {{#side_block}}
      <div class="col-2">
        {{ ! img elements --------------------- }}
        {{#img}}
          <div class="side-img">
            <img src="{{{src}}}" alt="{{{alt}}}" title="{{{title}}}"/>
          </div>
        {{/img}}
        {{#svg}}
          <div class="side-img side-svg">
            <img src="{{{src}}}" width="{{width}}" height="{{height}}"/>
          </div>
        {{/svg}}
        {{ ! code elements -------------------- }}
        {{#code_block}}
          {{> _code_block}}
        {{/code_block}}
      </div>
      {{/side_block}}
      {{ ! hero img elements ---------------- }}
      {{#hero_img}}
        <img src="{{{src}}}" alt="{{{alt}}}" title="{{{title}}}"/>
      {{/hero_img}}
      {{ ! features block ------------------- }}
      {{#section_features}}
        <hr class="hr-shade"/>
        <div class="grid">
          {{#features}}
            {{> _feature}}
          {{/features}}
        </div>
      {{/section_features}}
      {{ ! instrus block ------------------- }}
      {{#section_instrus}}
        <hr class="hr-shade"/>
        {{#instrus}}
          {{> _instrus}}
        {{/instrus}}
        <hr class="hr-shade"/>
      {{/section_instrus}}
      {{ ! conclusion block ------------------- }}
      {{#section_footer}}
        {{> _section_footer}}
      {{/section_footer}}
      </section><!-- END SECTION -->
