      <div class="row">
        <table style="width:100%">
          
          <tr>
            <td style="background-color: #1b1d1d">
              <p>code bg</p>
              <p>$BG_2, $c23</p>
              <p>#1b1d1d</p>
            </td>
            <td style="background-color: #1B1D1E">
              <p>footer bg</p>
              <p>$BG_3, $c22</p>
              <p>#1B1D1E</p>
            </td> 
            <td style="background-color: #212121">
              <p>button shadow</p>
              <p>$c26</p>
              <p>#212121</p>
            </td>
          </tr>

          <tr>
            <td style="background-color: #2C2E31">
              <p>main bg</p>
              <p>$BG_1, $c1</p>
              <p>#2C2E31</p>
            </td>
            <td style="background-color: #2c2d31">
              <p>font buttons, labels</p>
              <p>$BG_3, $c6</p>
              <p>#2c2d31</p>
            </td> 
            <td style="background-color: #354052">
              <p>font labels</p>
              <p>$c7</p>
              <p>#354052</p>
            </td>
            <td style="background-color: #516173">
              <p>labels bg</p>
              <p>$c12</p>
              <p>#516173</p>
            </td>
          </tr>

          <tr>
            <td style="background-color: #8a9199">
              <p>font pagination</p>
              <p>$c16</p>
              <p>#8a9199</p>
            </td>
            <td style="background-color: #a1acb7">
              <p>border buttons, labels</p>
              <p>$c17</p>
              <p>#a1acb7</p>
            </td> 
            <td style="background-color: #979797">
              <p>border posts</p>
              <p>$SHADE_1, $c21</p>
              <p>#979797</p>
            </td>
          </tr>

          <tr>
            <td style="background-color: #dfe1e5; color: black">
              <p>labels bg</p>
              <p>$c14</p>
              <p>#dfe1e5</p>
            </td>
            <td style="background-color: #c2cad4; color: black">
              <p>bg labels</p>
              <p>$c15</p>
              <p>#c2cad4</p>
              <td style="background-color: #7a8999">
              <p>doc nav bar color</p>
              <p>$c15</p>
              <p>#7a8999</p>
            </td> 
          </tr>

          <tr>
            <td style="background-color: #1991eb">
              <p>labels bg</p>
              <p>$c10</p>
              <p>#1991eb</p>
            </td>
            <td style="background-color: #5088EA">
              <p>deco bar gradient</p>
              <p>$c24</p>
              <p>#5088EA</p>
            </td> 
            <td style="background-color: #00d8d8">
              <p>highlight</p>
              <p>$HIGHLIGHT_1, $c4</p>
              <p>#00d8d8</p>
            </td>
          </tr>
          <tr>
            <td style="background-color: #A4DD74">
              <p>deco bar gradient</p>
              <p>$c25</p>
              <p>#A4DD74</p>
            </td>
            <td style="background-color: #36af47">
              <p>label bg</p>
              <p>$c9</p>
              <p>#36af47</p>
            </td>
            <td style="background-color: #00d936">
              <p>window controls</p>
              <p>$c20</p>
              <p>#00d936</p>
            </td>
          </tr>
          <tr>
            <td style="background-color: #ed1c24">
              <p>labels bg</p>
              <p>$c11</p>
              <p>#ed1c24</p>
            </td>
            <td style="background-color: #ff5c26">
              <p>window controls</p>
              <p>$c18</p>
              <p>#ff5c26</p>
            </td> 
            <td style="background-color: #f7981c">
              <p>labels bg</p>
              <p>$c13</p>
              <p>#f7981c</p>
            </td>
            <td style="background-color: #ffbf00">
              <p>window controls</p>
              <p>$c19</p>
              <p>#ffbf00</p>
            </td> 
          </tr>
          <tr>
            <td style="background-color: #ffffff; color: black;">
              <p>font labels</p>
              <p>$c5</p>
              <p>#ffffff</p>
            </td>
            <td style="background-color: #fafafa; color: black;">
              <p>main font color</p>
              <p>$COLOR_1, $c2</p>
              <p>#fafafa</p>
            </td> 
            <td style="background-color: #f8f8f8; color: black;">
              <p>font, searchbox, buttons, borders</p>
              <p>$SHADE_1, $c3</p>
              <p>#f8f8f8</p>
            </td>
          </tr>
        </table>
      </div>