      <div class="cols"> 
        <div class="col-2">  
          <div class="code-block">
            <pre>
.hr
  width: 100%
  border-top: 1px solid white</pre>
          </div>
        </div>
        <div class="col-2">
          <hr/>
        </div>
      </div>

      <hr class="hr-medium hr-shade"/>

      <div class="cols"> 
        <div class="col-2">  
          <div class="code-block">
            <pre>
.hr-shade
  border-color: $SHADE_2</pre>
          </div>
        </div>
        <div class="col-2">
          <hr class="hr-shade"/>
        </div>
      </div>

      <hr class="hr-medium hr-shade"/>

      <div class="cols"> 
        <div class="col-2">  
          <div class="code-block">
            <pre>
.hr-small
  width: 53px
  border-width: 3px</pre>
          </div>
        </div>
        <div class="col-2">
          <hr class="hr-small"/>
        </div>
      </div>

      <hr class="hr-medium hr-shade"/>

      <div class="cols"> 
        <div class="col-2">  
          <div class="code-block">
            <pre>
.hr-medium
  width: 50%</pre>
          </div>
        </div>
        <div class="col-2">
          <hr class="hr-medium"/>
        </div>
      </div>
