      <div class="cols">
        <div class="col-2">  
          <div class="code-block">
<pre>.midnight-mode
  background-color: #2C2E31
  color: #2C2E31
.highlight
  color: #00d8d8</pre>
          </div>
        </div>
        <div class="col-2">
          <p>This is regular text in .midnight-mode, and <span class="highlight">this is highlighted text</span>.<p>
        </div>
      </div>