      <div class="cols"> 
        <div class="col-2">  
          <div class="code-block">
            <pre>
.p-biggest
  font-family: HelveticaNeue-LightItalic
  font-size: 48px</pre>
          </div>
        </div>
        <div class="col-2">
          <p class="p-biggest">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        </div>
      </div>

      <hr class="hr-medium hr-shade"/>

      <div class="cols"> 
        <div class="col-2">  
          <div class="code-block">
            <pre>
.p-big-1
  font-family: HelveticaNeue-Light
  font-size: 20px</pre>
          </div>
        </div>
        <div class="col-2">
          <p class="p-big-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
        </div>
      </div>

      <hr class="hr-medium hr-shade"/>

      <div class="cols"> 
        <div class="col-2">  
          <div class="code-block">
            <pre>
.p-big-2
  font-family: HelveticaNeue-Medium
  font-size: 20px</pre>
          </div>
        </div>
        <div class="col-2">
          <p class="p-big-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
        </div>
      </div>

      <hr class="hr-medium hr-shade"/>

      <div class="cols"> 
        <div class="col-2">  
          <div class="code-block">
            <pre>
.p-big-2.shade
  font-family: HelveticaNeue-Medium
  font-size: 20px
.shade
  color: #f8f8f8</pre>
          </div>
        </div>
        <div class="col-2">
          <p class="p-big-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
          <p>* This is almost exactly same color on screen?
        </div>
      </div>

      <hr class="hr-medium hr-shade"/>

      <div class="cols"> 
        <div class="col-2">  
          <div class="code-block">
            <pre>
.p-medium-1
  font-family: HelveticaNeue
  font-size: 18px</pre>
          </div>
        </div>
        <div class="col-2">
          <p class="p-medium-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
        </div>
      </div>

      <hr class="hr-medium hr-shade"/>

      <div class="cols"> 
        <div class="col-2">  
          <div class="code-block">
            <pre>
.p-medium-2
  font-family: HelveticaNeue-Medium
  font-size: 18px
  letter-spacing: 0.1px
  line-height: 24px</pre>
          </div>
        </div>
        <div class="col-2">
          <p class="p-medium-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
        </div>
      </div>

      <hr class="hr-medium hr-shade"/>

      <div class="cols"> 
        <div class="col-2">  
          <div class="code-block">
            <pre>
.p-medium-2
  font-family: HelveticaNeue-Medium
  font-size: 18px
  letter-spacing: 0.1px
  line-height: 24px
.light
  font-family: HelveticaNeue-Light</pre>
          </div>
        </div>
        <div class="col-2">
          <p class="p-medium-2 light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
        </div>
      </div>

      <hr class="hr-medium hr-shade"/>

      <div class="cols"> 
        <div class="col-2">  
          <div class="code-block">
            <pre>
.p-small
  font-family: HelveticaNeue
  font-size: 16px
  line-height: 24px</pre>
          </div>
        </div>
        <div class="col-2">
          <p class="p-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
        </div>
      </div>

      <hr class="hr-medium hr-shade"/>

      <div class="cols"> 
        <div class="col-2">  
          <div class="code-block">
            <pre>
.p-small-2
  font-family: HelveticaNeue Medium
  font-size: 16px</pre>
          </div>
        </div>
        <div class="col-2">
          <p class="p-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
        </div>
      </div>

      <hr class="hr-medium hr-shade"/>

      <div class="cols"> 
        <div class="col-2">  
          <div class="code-block">
            <pre>
.p-smallest
  font-family: HelveticaNeue
  font-size: 14px</pre>
          </div>
        </div>
        <div class="col-2">
          <p class="p-smallest">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
        </div>
      </div>
