      <div class="cols"> 
        <div class="col-2 wider">  
          <div class="code-block">
            <pre>
$width: 47px
$height: 20px
$border_r: 3px

.label
  +label_draw($width, $height, $border_r)

&lt;div class="label"&gt;
  &lt;span&gt;&lt;span>Text&lt;/span&gt;&lt;/span&gt;
&lt;/div&gt;</pre>
          </div>
        </div>
        <div class="col-2">
          <div class="label">
            <span>Text</span>
          </div>
        </div>
      </div>


      <hr class="hr-medium hr-shade"/>


      <div class="cols"> 
        <div class="col-2 wider">  
          <div class="code-block">
            <pre>
.label.green
    +label_color($LABEL_GREEN_C, $LABEL_GREEN_BG)

&lt;div class="label green"&gt;
  &lt;span&gt;&lt;span>Text&lt;/span&gt;&lt;/span&gt;
&lt;/div&gt;</pre>
          </div>
        </div>
        <div class="col-2">
          <div class="label green">
            <span>Text</span>
          </div>
        </div>
      </div>


      <hr class="hr-medium hr-shade"/>


      <div class="cols"> 
        <div class="col-2 wider">  
          <div class="code-block">
            <pre>
.label.blue
    +label_color($LABELS_BLUE_C, $LABELS_BLUE_BG)

&lt;div class="label blue"&gt;
  &lt;span&gt;&lt;span>Text&lt;/span&gt;&lt;/span&gt;
&lt;/div&gt;</pre>
          </div>
        </div>
        <div class="col-2">
          <div class="label blue">
            <span>Text</span>
          </div>
        </div>
      </div>


      <hr class="hr-medium hr-shade"/>


      <div class="cols"> 
        <div class="col-2 wider">  
          <div class="code-block">
            <pre>
.label.red
    +label_color($LABELS_RED_C, $LABELS_RED_BG)

&lt;div class="label red"&gt;
  &lt;span&gt;&lt;span>Text&lt;/span&gt;&lt;/span&gt;
&lt;/div&gt;</pre>
          </div>
        </div>
        <div class="col-2">
          <div class="label red">
            <span>Text</span>
          </div>
        </div>
      </div>


      <hr class="hr-medium hr-shade"/>

      
      <div class="cols"> 
        <div class="col-2 wider">  
          <div class="code-block">
            <pre>
.label.black
    +label_color($LABELS_BLACK_C, $LABELS_BLACK_BG)

&lt;div class="label black"&gt;
  &lt;span&gt;&lt;span>Text&lt;/span&gt;&lt;/span&gt;
&lt;/div&gt;</pre>
          </div>
        </div>
        <div class="col-2">
          <div class="label black">
            <span>Text</span>
          </div>
        </div>
      </div>


      <hr class="hr-medium hr-shade"/>

      
      <div class="cols"> 
        <div class="col-2 wider">  
          <div class="code-block">
            <pre>
.label.orange
    +label_color($LABELS_ORANGE_C, $LABELS_ORANGE_BG)

&lt;div class="label orange"&gt;
  &lt;span&gt;&lt;span>Text&lt;/span&gt;&lt;/span&gt;
&lt;/div&gt;</pre>
          </div>
        </div>
        <div class="col-2">
          <div class="label orange">
            <span>Text</span>
          </div>
        </div>
      </div>


      <hr class="hr-medium hr-shade"/>

      
      <div class="cols"> 
        <div class="col-2 wider">  
          <div class="code-block">
            <pre>
.label.light-gray
    +label_color($LABELS_LIGHT_GRAY_C, $LABELS_LIGHT_GRAY_BG)

&lt;div class="label light-gray"&gt;
  &lt;span&gt;&lt;span>Text&lt;/span&gt;&lt;/span&gt;
&lt;/div&gt;</pre>
          </div>
        </div>
        <div class="col-2">
          <div class="label light-gray">
            <span>Text</span>
          </div>
        </div>
      </div>


      <hr class="hr-medium hr-shade"/>

      
      <div class="cols"> 
        <div class="col-2 wider">  
          <div class="code-block">
            <pre>
.label.dark-gray
    +label_color($LABELS_DARK_GRAY_C, $LABELS_DARK_GRAY_BG)

&lt;div class="label dark-gray"&gt;
  &lt;span&gt;&lt;span>Text&lt;/span&gt;&lt;/span&gt;
&lt;/div&gt;</pre>
          </div>
        </div>
        <div class="col-2">
          <div class="label dark-gray">
            <span>Text</span>
          </div>
        </div>
      </div>