            <div class="window-controls">
              <button class="close">Close</button>
              <button class="minimize">Minimize</buttton>
              <button class="maximize">Maximize</button>
            </div>