{{#page_docs-alt_nav}}
  
  {{> _head_2}}

  <div class="{{class}} {{skin}} {{layout}}">
    
    {{>_header_2}}

    {{> _content_docs-alt_nav }}

    {{> _footer}}
    
  </div><!-- END {{class}} {{skin}} {{layout}} -->
  
  {{> _foot}}

{{/page_docs-alt_nav}} 
