{{#page_docs}}
  
  {{> _head_2}}

  <div class="{{class}} {{skin}} {{layout}}">
    
    {{>_header}}

    {{> _content_docs }}

    {{> _footer}}
    
  </div><!-- END {{class}} {{skin}} {{layout}} -->
  
  {{> _foot}}

{{/page_docs}}