{{#page_quickstart}}
  
  {{> _head}}

  <div class="{{class}} {{skin}} {{layout}}">
    
    {{>_header}}

    {{> _content_examples }}

    {{> _footer}}

    {{> _bg}}
    
  </div><!-- END {{class}} {{skin}} {{layout}} -->
  
  {{> _foot}}

{{/page_quickstart}} 
