{{#page_features}}

  {{> _head}}

  <div class="{{class}} {{skin}} {{layout}}">

    {{>_header}}

    {{> _content_features }}

    {{> _footer}}

    {{> _bg}}

  </div><!-- END {{class}} {{skin}} {{layout}} -->

  {{> _foot}}

{{/page_features}}
