{{#page_modules}}
  
  {{> _head}}
  
  <div class="{{class}} {{skin}} {{layout}}">

    {{>_header}}

    {{> _content_modules}}

    {{> _footer}}

    {{> _bg}}
    
  </div><!-- END {{class}} {{skin}} {{layout}} -->
  
  {{> _foot}}

{{/page_modules}}
