{{#page_styleguide}}
  
  {{> _head}}

  <div id="main-content" class="{{class}} {{skin}} {{layout}} relative">
    
    {{>_header_styleguide}}

    {{> _content_styleguide }}

    {{> _footer}}

    <div id="to-top" class="to-top fixed uppercase">
      <a href="#main-content">{{> _up_svg}}</a>
    </div>
    
  </div><!-- END {{class}} {{skin}} {{layout}} -->
  
  {{> _foot}}

{{/page_styleguide}}