$MAIN_BG: #2C2E31                     // dark gray
$CODE_BG: #1b1d1d                     // black
$FOOTER_BG: #1B1D1E                   // black

$MAIN_TEXT: #fafafa                   // white
$BUTTON_TEXT: #2c2c31                 // dark gray
$LABEL_TEXT: #ffffff                  // white
$LABEL_DARK_TEXT: $BUTTON_TEXT

$HIGHLIGHT: #00d8d8                   // light blue
$SHADE_WHITE: #f8f8f8                 // white
$SHADE_GRAY: #979797                  // gray


$DECO_BAR_BG_1: #5088EA               // blue
$DECO_BAR_BG_2: #A4DD74               // green


$PAGINATION_C: #8a9199                // gray
$PAGINATION_C_HIGHLIGHT: #ffffff      // white
$PAGINATION_BORDER_C: #a1acb7         // gray
$PAGINATION_BG_HIGHTLIGHT: $HIGHLIGHT


$LABEL_GREEN_BG: #36af47              // green
$LABELS_BLUE_BG: #1991eb              // blue
$LABELS_RED_BG: #ed1c24               // red
$LABELS_BLACK_BG: #516173             // black
$LABELS_ORANGE_BG: #f7981c            // orange
$LABELS_LIGHT_GRAY_BG: #dfe1e5        // light-gray
$LABELS_DARK_GRAY_BG: #c2cad4         // light-gray


$BUTTON_BLACK_TEXT: $SHADE_WHITE
$BUTTON_BLACK_BG: $BUTTON_TEXT
$BUTTON_BLACK_SHADOW: #212121         // black

$BUTTON_GRAY_TEXT: $BUTTON_BLACK_BG
$BUTTON_GRAY_BG: $BUTTON_BLACK_TEXT
$BUTTON_GRAY_SHADOW: $BUTTON_BLACK_SHADOW

$BUTTON_BLUE_TEXT: $HIGHLIGHT
$BUTTON_BLUE_BG: $MAIN_BG
