// --------------------------------------------- ALL FONTS
$MAIN_FONT: $HELVETICA
$MAIN_FONT_LIGHT: $HELVETICA_LIGHT
$MAIN_FONT_MEDIUM: $HELVETICA_MEDIUM
$MAIN_FONT_BOLD: $HELVETICA_BOLD
$MAIN_FONT_LIGHT_ITALIC: $HELVETICA_LIGHT_ITALIC
$CODE_FONT_1: $COURIER_BOLD
$CODE_FONT_2: $MONACO
$MAIN_FONT_MEDIUM_ITALIC: $HELVETICA_MEDIUM_ITALIC
$SPECIAL_FONT: $MONTSERRAT_BOLD
