$HELVETICA: 'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif
$HELVETICA_BOLD: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, sans-serif
$HELVETICA_LIGHT: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
$HELVETICA_MEDIUM: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, sans-serif
$HELVETICA_MEDIUM_ITALIC: "HelveticaNeue-MediumItalic", "Helvetica Neue MediumItalic", "Helvetica Neue", Helvetica, sans-serif
$HELVETICA_LIGHT_ITALIC: "HelveticaNeue-LightItalic", "Helvetica Neue LightItalic", "Helvetica Neue", Helvetica, sans-serif

$MONTSERRAT_BOLD: "Montserrat-Bold", Helvetica, sans-serif

$COURIER: "Courier New", Courier, monospace
$COURIER_BOLD: "Courier Bold", Courier, monospace
$MONACO: Monaco, monospace


// --------------------------------------------- ALL FONTS
$MAIN_FONT: $HELVETICA
$MAIN_FONT_LIGHT: $HELVETICA_LIGHT
$MAIN_FONT_MEDIUM: $HELVETICA_MEDIUM
$MAIN_FONT_BOLD: $HELVETICA_BOLD
$MAIN_FONT_LIGHT_ITALIC: $HELVETICA_LIGHT_ITALIC
$MAIN_FONT_MEDIUM_ITALIC: $HELVETICA_MEDIUM_ITALIC

$CODE_FONT_1: $COURIER_BOLD
$CODE_FONT_2: $MONACO
$CODE_FONT_3: $COURIER

$SPECIAL_FONT: $MONTSERRAT_BOLD
