/* ------------------------------------------------ FONT_DEFINITIONS */
body
  font-family: $MAIN_FONT
  font-size: 18px

h1, h2, h3, h4, h5, h6
  font-weight: inherit

p, a, code, pre
  font-family: inherit
  font-size: inherit
  font-weight: inherit
  line-height: inherit

footer
  font-family: $MAIN_FONT
  font-size: 14px
  font-weight: 300


/* ----------------------------------------------- HEADERS */
.h-biggest
  font-family: $MAIN_FONT_LIGHT
  font-size: 64px
  font-weight: 300

.h-big
  font-family: $MAIN_FONT_LIGHT
  font-size: 48px
  font-weight: 300

.h-small
  font-family: $MAIN_FONT_MEDIUM
  font-size: 28px

.h-smaller-bold
  font-family: $MAIN_FONT_BOLD
  font-size: 24px
  letter-spacing: 0.13px


/* ---------------------------------------------- TEXT (p) */
.p-big-1
  font-family: $MAIN_FONT_LIGHT
  font-size: 20px

.p-big-2
  font-family: $MAIN_FONT_MEDIUM
  font-size: 20px
  line-height: 26px

.p-medium-1
  font-family: $MAIN_FONT
  font-size: 18px

.p-medium-2
  font-family: $MAIN_FONT_MEDIUM
  font-size: 18px
  letter-spacing: 0.1px
  line-height: 24px

.p-medium-3
  font-family: $MAIN_FONT_LIGHT
  font-size: 18px
  letter-spacing: 0.1px
  line-height: 24px

.p-small
  font-family: $MAIN_FONT
  font-size: 16px
  line-height: 24px

.p-small-light
  font-family: $MAIN_FONT_LIGHT
  font-size: 16px
  line-height: 24px
  letter-spacing: 0.09px

.p-smallest
  font-family: $MAIN_FONT_MEDIUM
  font-size: 14px

.light
  font-family: $MAIN_FONT_LIGHT
  font-weight: 300


/* -------------------------------------------------- CODE */
code
  font-family: $CODE_FONT_1
.code-block,
.docs .main-txt pre
  font-family: $CODE_FONT_2
  font-size: 16px
  .title
    font-family: $CODE_FONT_3
    font-size: 14px

.code-block-2
  font-family: $CODE_FONT_1
  font-size: 15px
  .title
    font-family: $CODE_FONT_1
    font-size: 15px
    font-weight: bold


/* ---------------------------------------------- NAV BARS */
/* --------------------------------- NAV-BAR-1 */
/* HEADER NAV BAR */
.nav-bar-1
  font-family: $MAIN_FONT_MEDIUM
  font-size: 18px
  line-height: 18px

/* --------------------------------- NAV-BAR-2 */
/* DOCUMENTATION NAV BAR */
.nav-bar-2
  font-family: $MAIN_FONT_MEDIUM
  font-size: 16px
  line-height: 16px


/* ----------------------------------------- DOCS SIDEMENU */
.side-menu
  font-family: $MAIN_FONT_MEDIUM
  font-size: 18px
  .menu-item-submenu,
  ul ul li
    font-size: 16px


/* -------------------------------------------- SEARCH BAR */
.search-bar-1
  font-family: $MAIN_FONT_LIGHT
  font-size: 28px


/* -------------------------------------------- PAGINATION */
.pagination
  font-size: 16px
  font-weight: 200


/* ----------------------------------------------- BUTTONS */
/* --------------------------------- BIG BUTTON */
.big-btn
  font-family: $MAIN_FONT_BOLD
  font-size: 18px
  font-weight: 500

/* ------------------------------ MEDIUM BUTTON */
.medium-btn
  font-family: $MAIN_FONT_MEDIUM
  font-size: 16px
  font-weight: 500


/* ------------------------------------------------ LABELS */
.label
  font-family: $SPECIAL_FONT
  font-size: 10px


/* -------------------------------------- FOOTER COPYRIGHT */
.copyright
  font-family: $MAIN_FONT_LIGHT
  font-size: 13px

/* ------------------------------------------------- POSTS */
.post
  .title
    font-family: $MAIN_FONT_LIGHT
    font-size: 28px

  .tag
    font-family: $MAIN_FONT_MEDIUM
    font-size: 16px

  .description
    font-family: $MAIN_FONT
    font-size: 16px
    line-height: 26px


/* ------------------------------- DOCUMENTATION MAIN TEXT */
.docs .main-txt
  h1, h2
    font-family: $MAIN_FONT_BOLD
    font-size: 24px
    letter-spacing: .13px
  h3, h4
    font-size: 20px
  h5, h6
    font-size: 16px
  h1, h2, h3, h4, h5, h6
    font-weight: 600
  p, ul, ol
    font-family: $MAIN_FONT_LIGHT
    font-size: 16px
    line-height: 24px
    letter-spacing: .09px


/* -------------------------- QUICKSTART INSTRUCTION BLOCK */
/* circle number */
.instrus .title::before
  font-family: $MAIN_FONT_MEDIUM
  font-size: 18px
