// ------------------------------------- LAYOUT DIMENSIONS
$LAYOUT_MAW_W: 1225px
$LAYOUT_PADDING_TOP: 80px
$LAYOUT_PADDING_SIDES: 112px


// ------------------------------------------------ HEADER
$HEADER_H: 200px

$LOGO_H: 45px

// ------------------------------------------------ FOOTER
$FOOTER_H: 222px
$FOOTER_W: 100%
$FOOTER_MARGIN_TOP: 120px
$FOOTER_PADDING: 46px $LAYOUT_PADDING_SIDES 20px $LAYOUT_PADDING_SIDES

$FOOTER_ICON_SIZE: 38px
$FOOTER_A_PADDING: 10px
$FOOTER_FOOTNOTE_MARGIN: 42px


// ---------------------------------------------------- HR
$HR_BORDER_W: 3px


// --------------------------------------------- DECO BARS
// used in elements
$DECO_BAR_W: 2220px


// ---------------------------------------- FEATURES BLOCK
$FEATURE_ICON_SIZE: 60px


// ------------------------------------------------- POSTS
$DESCRIPTION_MARGIN: 25px

$LABELS_MARGIN: 45px
