// ------------------------------------- LAYOUT DIMENSIONS
// used in layout
$LAYOUT_MAW_W: 1225px
// used in layout and features
$LAYOUT_PADDING_SIDES: 112px


// ------------------------------------------------ HEADER
// used in layout and modules
$HEADER_H: 200px


// ------------------------------------------------ FOOTER
// used in layout and  modules
$FOOTER_H: 222px
// used in layout and modules
$FOOTER_MARGIN_TOP: 120px


// --------------------------------------------- DECO BARS
// used in elements and skins
$DECO_BAR_W: 2220px
